/*	GENERAL	*/
a {
	text-decoration: none;
}

.wrapper, 
.content {
	max-width: 960px;
	margin: 0 auto;
    @include clearfix();
	padding: 30px 20px;
}




/*	Styling Offers page */


body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 20px;
	background: #e1ddda;
    
    .content {
        line-height: 35px;
        
        .banner,
        p {
        
            img {
                float: right;

                @media screen and (max-width: $break-medium) {
                    width: 100%;
                }
            }
        }
        
        .blocks {
            box-sizing: border-box;
            display: inline-block;
            margin-left: 2%;
            max-width: 32%;
            float: left;

            &:first-child {
                margin-left: 0;
            }
            
            @media screen and (max-width: 1008px) {
                border: none;
                box-shadow: none;
                margin: 0;
                display:inherit;
                float: none;
                max-width: 100%;
            }
        }
    }
}

//Styling About page

.content {
    p{
        img {
            padding: 1em;
            height: 450px;
            width: 450px;
            @media screen and (max-width: $break-medium) {
                padding: 1em 0;
                height: auto;
                width: 100%;
            }
        }
    }
}


//Styling Contact page


.content{

    .left,
    .right {
        box-sizing: border-box;
        width: 49%;
        float: left;
        ul, address {
            margin-bottom: 20px;
        }
        a {
            span{
                padding-right: 10px;
            }
        }
        th,
        td {
            padding: 0 20px 0 0;
            text-align: left;
        }
        #map {
            height: 450px;
            width: 450px;

            @media screen and (max-width: $break-medium) {
                height: 150px;
                width: 100%;
            }
        }

        @media screen and (max-width: $break-medium) {
            width: 100%;
            float: none;
        }
    }
    .right {
        margin-left: 2%;

        @media screen and (max-width: $break-medium) {
            margin-left: 0;
        }
    }
}

/*	LINKS AND PARTNERS	*/

.links {
    display: inline; 
   img {
        float: left;
        height: auto;
        width: 5em;
        padding: 10px 30px;
        margin-left: auto;
        margin-right: auto;
       
    }
    img:hover {
	    background-color: #fff;
        border-radius: 5px;
       
    }
}




